<div class="col-xs-12 col-sm-8 col-md-9 content-column">
    {{ partial "header.html" . }}
    <div class="main">
        <ul id="og-grid" class="og-grid">
            {{ range $.Site.Data.items.items }}
                <li>
                    <a data-largesrc="{{.image}}" data-title="{{.title}}" data-description="{{.description }}" data-buttontext="{{.buttontext}}">
                        <img src="{{.thumb}}" alt="{{.alt}}"/>
                    </a>
                </li>
            {{ end }}
        </ul>
        {{ partial "footer.html" . }}
    </div>
</div>
